* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Anonymos Pro' monospace;
    background-color: rgb(25, 25, 25);
}

.main_div {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.main_div .center_div .line {
    position: relative;
    top: 50%;
    width: 12.2em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}


/* animation  */

.main_div .center_div .anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}


@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 12.2em;
    }
}

@keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
            border-right-color: transparent;
        }
}
